li * {
    text-decoration: none;
    margin: 1rem;
}


li.dd-li {
    margin-left: 0rem;
    background-color: white;
}

li.active {
    background-color: #9bc9ff;
}

nav h1 {
    margin: 1rem;
}

nav {
    background-color: #0ba5ff;
    align-items: stretch;
}

ul {
    align-items: stretch;
    display: flex;
    height: 100%;
    margin: 0rem;
}

a {
    text-decoration: none;
    font-size: large;
    color: inherit;
    height: 100%;
    display: flex;
    padding: .25rem;
}

button {
    height: 70%;
    display: flex;
    align-self: center;
    margin-left: .5rem;
}

tr, td {
    table-layout: fixed;
    width: 30px;
}

#startEndTime {
    width: 100%;
}

.font-serif-reg {
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.font-serif-bold {
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.calendar-md {
    width: 100%;
}

.calendar-sm {
    width: 30rem;
}