li * {
    text-decoration: none;
    margin: 1rem;
}

li.active {
    background-color: #F6EFBD;
}

nav h1 {
    margin: 1rem;
}

nav {
    background-color: #E4C087;
    align-items: stretch;
}

ul {
    align-items: stretch;
    display: flex;
}

a {
    text-decoration: none;
    font-size: large;
    color: inherit;
    height: 100%;
    display: flex;
    padding: .25rem;
}
